* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;     
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);  
}

.top-nav {   
    display: grid;    
    align-items: center;
    grid-template-columns: 1fr 360px 1fr;   
}

.top-nav form {
    justify-self: center;    
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
}

 img {
    width: 80px;
    /* height: 40px; */
    /* background-image: url('images/drizzle.svg'); */
 } 

 .today-info-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    height: 300px;  
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    margin-right: 40px;
    color: white;
 }

 .week-weather-info-container {
    display: grid;
    color: white;
 }

 .week-day-weather-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;    
 }


